.Footer{
    width: 100%;
    margin-top: 20px;
    background: rgb(23, 23, 23 );

}
.footer-img{
    margin: 20px;
    width: 150px;
    height: 40px;
}
.footer-box{
    width: 84%;
    margin: 0 auto;
}
.Footer small{
    color: rgb(196, 196, 196);
}
.Footer p{
    color: white;
    font-size: 1.2rem;
}
.footer-links{
    margin-top: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
}
.footer-links img{
    width: 40px;
    height: 40px;
    border-radius: 6px;
    cursor: pointer;
}